.release-notes {
  &__nieuw {
    display: inline-block;
    padding-left: 20px;
  }
  &__nieuw:before {
      content: '';
    position: absolute;
    left: 0;
    top: 1px;
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: $brandColor1;
      border-radius: 50%;

  }
  &__menu {
    position: relative;

  }
  &__menu-content {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #fff;
    box-shadow: $boxShadowDefault;
    padding: 20px;
    width: 200px;
    > *:last-child {
      margin-bottom: 0;
    }
  }
  &__menu-trigger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.release-notes-menu-active .release-notes__menu-content {
  display: block;
  z-index: 350;
}
.release-notes-menu-active .release-notes__menu-trigger {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
}
