{% extends 'master.html.twig' %}

{% block title %}Release notes{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

    <div class="document well">
        <div class="accordion__list">
        {% for tmpl in templates %}
            {% include 'UserReleaseNotes/releases/' ~ tmpl %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
