{% extends 'master.html.twig' %}

{% block title %}Release notes{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

    <div class="document well">
        <div class="accordion__list">
        {% for tmpl in templates %}
            <div class="accordion" data-timestamp="{{ tmpl.id }}"data-decorator="release-note" data-listen-class="accordion-active" data-url="{{ path('gemeenteamsterdam_fixxxschuldhulp_userreleasenotes_releasenoteseen', {'ts': tmpl.id }) }}">
                <a href="#" class="accordion__header" data-handler="accordion" data-container=".accordion">
                    <h2>{% include 'UserReleaseNotes/' ~ tmpl.title %}</h2>
                </a>
                <div class="accordion__body">
                    <div class="accordion__content">
                    {% include 'UserReleaseNotes/' ~ tmpl.content %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
