<p>Deze versie staat in het kader van verbetering van efficient (scherm)ruimtegebruik.</p>
<h3>
    <a href="#next">Sammenvatting</a>
</h3>
<h4>Nieuw:</h4>
<ul class="image-list image-list--coll-4">
    <li>
        <a href="#dashboard" title="Introductie dashboard"><img src="/images/release-notes/dashboard.jpg"></a>
    </li>
    <li>
        <a href="#context" title="Context in beeld: secties + inhoud + document-view"><img
                    src="/images/release-notes/context.jpg"></a>
    </li>
    <li>
        <a href="#controle" title="Snellere dossiercontrole"><img src="/images/release-notes/dashboard.jpg"></a>
    </li>
    <li><img title="Dit is de titel van de afbeelding"
             src="/images/release-notes/59f242528564649a25eede55ac3c33d1ec49e179.jpg"></li>
    <li><img title="Dit is de titel van de afbeelding" src="/images/release-notes/design-thinking-tools-hero.jpg"></li>
    <li><img title="Dit is de titel van de afbeelding" src="/images/release-notes/designbig.jpg"></li>
    <li><img title="Dit is de titel van de afbeelding" src="/images/release-notes/Featured-Image.jpg"></li>
    <li><img title="Dit is de titel van de afbeelding" src="/images/release-notes/02.HIST_1200-x-1200_logo.jpg"></li>
</ul>
<ul>
    <li>
        <p>Introductie dossier-dashboard</p>
    </li>
    <li>
        <p>Context in beeld: secties + inhoud + document-view</p>
    </li>
    <li>
        <p>Snellere dossiercontrole</p>
    </li>
</ul>
<h4>Opgelost:</h4>
<ul>
    <li>
        <p>bug 1</p>
    </li>
    <li>
        <p>bug 2</p>
    </li>
</ul>

<h2>Nieuw</h2>
<h3 id='dashboard'>Introductie dossier-dashboard</h3>
<p>Het dossier-dashboard is wat je standaard gaat zien wanneer je een dossier opent. Het heeft als doel een snel
    overzicht te krijgen van de status van het dossier. De inhoud zal in de toekomst worden uitgebreid, maar bevat bij
    deze update al:</p>
<ul>
    <li>
        <p>Algemene dossierinformatie</p>
    </li>
    <li>
        <p>De oude overleg-tab voor discussie</p>
    </li>
</ul>
<img width="500px" src="/images/release-notes/dashboard.jpg">
<h2 id="controle" id="context-in-beeld">Context in beeld</h2>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute
</p>
<p id="next">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute
</p>
<img width="500px" src="/images/release-notes/context.jpg">