<p>Focus bij deze versie ligt op het verbeteren van uitleg van Schulddossier en een veiliger manier van inloggen</p>
<h3>
    <a href="#next">Samenvatting</a>
</h3>

<h4>Nieuw:</h4>
<ul>
  <li>
    <a href="#2fa-inlog">
    Andere manier van inloggen
  </a>
  </li>
  <li>
    <a href="#uitleg-versies">
      Uitleg versies. Bij nieuwe versies kan je op deze pagina terugvinden wat er anders is
    </a>
  </li>
  <li>
    Help/handleiding is te benaderen vanuit Schulddossier
  </li>
  <li>
    De tab Zoeken heet nu Alle dossiers
  </li>
</ul>

<h4>Opgelost:</h4>
<ul>
    <li>
        Een aantal bugs in het nieuwe design van vorige release, met name voor Internet Explorer 11
    </li>
    <li>
        Er kan weer een bestand naar de pdf-splitter worden gesleept wanneer deze balk nog verborgen is
    </li>
    <li>
      De scrollbalk in de pdf-splitter doet het weer
    </li>
    <li>
      Uploaden leidt niet meer tot dubbele bestanden
    </li>
</ul>

<h4>Kleine verbeteringen:</h4>
<ul>
  <li>
    Sectie wordt geopend wanneer je er een bestand of pagina heen sleep
  </li>
</ul>

<h3>Nieuw</h3>
<h4 id="2fa-inlog">Nieuwe manier van inloggen</h4>
<p>Er is een nieuwe manier gebouwd om in te loggen. Dit betekent dat je je dit moet doen in twee stappen:
  <ul>
    <li>Geef aan voor welke organisatie je werkt</li>
    <li>(Voor MaDi) Voer je inloggegevens in van je organisatie</li>
    <li>(Voor GKA) Voer je inloggegevens in voor Schulddossoer</li>
  </ul>
  </p>
  <p>De hoofdreden voor de nieuwe manier is verbetering van de veiligheid van het systeem. Mooie bijkomstigheid voor de MaDi's: je hoeft geen extra wachtwoord te onthouden.</p>

<h4 id="uitleg-versies">Uitleg versies</h4>
<p>Wanneer een nieuwe versie van Schulddossier beschikbaar komt, zie je naast de Menu-knop dat er veranderingen zijn geweest. Van daaruit kan je doorklikken naar een overzicht met uitleg van de veranderingen.</p>
<img width="400px" src="/images/release-notes/versies.jpg">
